<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YouTube Video Details</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    </head>
    <body class="bg-dark">
        <section id="container" class="bg-dark ">
            <div class="text-center">
                <h1 class="fs-2 text-light py-3">YouTube Video Details Finder</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto mb-3">
                        <form action="/find" method="post">
                            <div class="input-group mb-3">
                                <input type="text" name="url" class="form-control" placeholder="Enter a YouTube Video URL" aria-label="URL or ID" aria-describedby="basic-addon2">
                                <input type="submit" class="input-group-text btn btn-warning" value="Fetch">
                              </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-auto mb-3">
                        <table class="table table-striped bg-light text-dark">
                            <thead>
                                <tr>
                                    <th>Channel Name</th>
                                    <th>Total Views</th>
                                    <th>Total Videos</th>
                                    <th>Total Subscriber</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for channel in channels %}
                                    <tr>
                                        <td>{{channel['channelName']}}</td>
                                        <td>{{channel['viewCount']}}</td>
                                        <td>{{channel['videoCount']}}</td>
                                        <td>{{channel['subscriberCount']}}</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            

        </section>
        <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>